.ui-state-highlight {
 border: 1px solid #b17f4a; 
  
  background: #b17f4a -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.25)), to(rgba(0,0,0,0))) !important;
  
  /*background: #955379 -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.25)), to(rgba(0,0,0,0))) !important;*/
  background: #aaaaaa -moz-linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0)) !important;
  color: #ffffff !important;
  text-shadow: 1px 1px 1px #333333 !important;
}

.ui-wizard-step-title, .ui-state-default {

 border: 1px solid #b17f4a;
  /*border: 1px solid #955379;*/  
  
    background: white -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));

    /*background: rgba(149, 83, 121, 0.57) -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));*/
  text-shadow: 0px 1px 0px rgba(255,255,255,0.7);
  color: #b17f4a;
  }
  
  .ui-wizard-step-title {
  font-size: 1.1em !important;
   padding: 0.2em;
}

.ui-helper-reset {

  padding-bottom: 0.2%;

  
}

.ui-widget-content {
  /* border: 1px solid #a8a8a8; */
  /* background: #ffffff; */
  color: #4f4f4f;
}

.ui-separator{
border-color: #876758;
}

.ui-widget {
  font-family: Lato,sans-serif !important;
}

.ui-menu .ui-menuitem-link .ui-menuitem-icon {
  display: inline-block;
  float: left;
  color: white;
  margin-right: 8px;
  text-align: left;
  font-size: 1.4em;
}

/*INICIO Configuração Botão Next */
.ui-wizard-nav-next {
        
}

.ui-widget button {
  font-family: Lato,sans-serif;
}
/*FIM Configuração Botão Next */


/*Seta do selectoOneMenu */
.ui-selectonemenu-trigger, .ui-state-default .ui-corner-right{
	
	background: #f9d195 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)))
	
}

