@CHARSET "UTF-8";

body{
	
	font-size: 12px;
	font-family:'Irish Grover',Arial,sans-serif;
	margin:0px;
	font-weight:normal;
	background-color: #F3E9DD;
}


header{
	
	padding: 5px 0px;
	margin-bottom:20px;
	height:70px;
	background-color: #644E43;
	color: #fff;
	
	box-shadow: 0px; 2px; 2px #ccc;
	
	
}

header > div{
	
	margin-left: 8px
}

/* Primeiro div após a tag header */
header > div{
	
	margin-left: 8px
}
footer {
	padding: 0px 8px;
	margin-bottom: 10px;
}


/* # é id */

#conteudo {
	padding: 0px 8px;
}

/* Customização do Menu Sistema - Barra principal */

.menu-sistema {
	border: 0px !important;
	padding: 0px !important;
	background: none !important;
}

.menu-sistema .ui-menu-parent > a .ui-menuitem-text, .menu-sistema > .ui-menu-list > .ui-menuitem > a > .ui-menuitem-text{
	color: #ffffff;
}

.menu-sistema .ui-icon-triangle-1-s {	
    background: url(#{resource['imagens:setaParaBaixo.png']}) no-repeat;
}

/* Fim da customizaçao do menu-sistema */

/* INICIO Botões do menubar - laranja : */
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
	background: #F79805 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.6)), to(rgba(255,255,255,0)));
	}
/* FIM Botões do menubar - laranja : */	


/* INICIO menus de seleção*/
.ui-menu, .ui-menu .ui-menu-child {

background: #F7ECEC -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
}
/* FINAL menus de seleção*/


/* Bordar do menu de selecao
.ui-widget-content{

border: 1px solid #917C6A
}
*/

/*Alterando cor do primeiro submenu */
.subMenuPreto > a > span{
	color: black !important;
	}


