@CHARSET "UTF-8";


html {
  height: 100%;
}

body{
	
	margin: 0px;
    height: 100%;
    width: 100%;
	font-size: 12px;
	font-family: Lato, Irish Grover, sans-serif;;	
	font-weight:normal;
	background-color: #F3E9DD;
	/*background-image:  url("/DeployTomcatTCC/javax.faces.resource/orange-background.svg.svg.xhtml?ln=images");*/
}


h1{
	
	color: #41210a;
	margin-bottom: 1.3%;
	padding-left: 1%;
}

header{
	
	padding: 5px 0px;
	margin-bottom:20px;
	height:70px;
	background-color: #644E43;
	color: #fff;
	
	box-shadow: 0px; 2px; 2px #ccc;
	
	
}

header > div{
	
	margin-left: 8px
}

/* Primeiro div após a tag header */
header > div{
	
	margin-left: 8px
}
footer {
	padding: 0px 8px;
	margin-bottom: 10px;
}


/* # é id */

#conteudo {
	padding: 0px 4.3%;
	margin-top: 2%;
}


/* Customização do Menu Sistema - Barra principal */

.menu-sistema {
	border: 0px !important;
	padding: 0px !important;
	background: none !important;
}

.menu-sistema .ui-menu-parent > a .ui-menuitem-text, .menu-sistema > .ui-menu-list > .ui-menuitem > a > .ui-menuitem-text{
	color: #f3e9dd;
}

.menu-sistema .ui-icon-triangle-1-s {	
    background: url(#{resource['imagens:setaParaBaixo.png']}) no-repeat;
}

/* Fim da customizaçao do menu-sistema */



/* INICIO Botões do menubar - laranja : */
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
	background: #F79805 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.6)), to(rgba(255,255,255,0)));
	box-shadow: 0px 0px 8px #F79805;
	}
/* FIM Botões do menubar - laranja : */	




/* INICIO menus de seleção*/
.ui-menu, .ui-menu .ui-menu-child {

background: #F7ECEC -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
}
/* FINAL menus de seleção*/




/* Bordar do menu de selecao
.ui-widget-content{

border: 1px solid #917C6A
}
*/



/*Alterando cor do primeiro submenu */
.subMenuPreto > a > span{
	color: black !important;
	}
	


/*INICIO centralização da Barra dos nomes do wizard*/
.ui-wizard-step-titles, .ui-helper-reset .ui-helper-clearfix li {
	 padding-bottom: 0.1% !important;
  padding-top: 0.2% !important;
  padding-left: 0.2% !important;
}

/*FIM centralização da Barra dos nomes do wizard*/

.ui-wizard-navbar, .ui-helper-clearfix button {
	padding-bottom: 0.2% !important;
}



/*INICIO Cor dentro do formulário ao Clicar*/
.value > .ui-state-hover, .ui-state-focus {
	background-color: #fef4d1 !important;
}
/*FIM Cor dentro do formulário ao Clicar*/



/* Large desktop */
@media (min-width: 960px){
	/*visibilities according to the platform*/
	.ShowOnMobile{display:none; opacity:0;}
	.ShowOnDesktop{display:inherit; opacity:1;}
}
 
@media (min-width: 960px) and (max-width:1200px){
	/* responsive support */
	.Responsive{width:33.3%; float:left; margin-left:0px !important; margin-right:0px !important;}
	.Responsive50{width:50%; float:left; margin-left:0px !important; margin-right:0px !important;}
	.Responsive100{width:100%; float:left; margin-left:0px !important; margin-right:0px !important;}
    
    /* make auto of element width attribute on mobile devices with media queries */
    .WidAutoOnMobile{width:auto !important;}
    .HeiAutoOnMobile{height:auto !important; min-height:50px !important;}
} 
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 640px) and (max-width: 960px) {
	/*visibilities according to the platform*/
	.ShowOnMobile{display:inherit; opacity:1;}
	.ShowOnDesktop{display:none; opacity:0;}
    .FloatNoneOnMobile{float:none !important;}
	
	/* responsive support */
	.Responsive{width:50%; float:left; margin-left:0px !important; margin-right:0px !important;}
	.Responsive50{width:100%; float:left; margin-left:0px !important; margin-right:0px !important;}
	.Responsive100{width:100%; float:left; margin-left:0px !important; margin-right:0px !important;}
	
	.ContainerIndent{padding:5px;}
    
    /* make auto of element width attribute on mobile devices with media queries */
    .WidAutoOnMobile{width:auto !important;}
    .HeiAutoOnMobile{height:auto !important; min-height:50px !important;}
	


